@charset "UTF-8";

section#conteudo{
    width: 1000px;
    margin: auto;
}

iframe.element{
    width: 400px;
    height: 280px;
    border: none;
    overflow: hidden;
}

.element::-webkit-scrollbar {
    display: none;
    
}
::-webkit-scrollbar { 
    display: none; 
}